*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}      
#login-container{
    width:400px;
    background-color: red;
    padding: 20px;
    border-radius: 10px;
}
#login-container h2{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
#login-container form{
    display: flex;
    flex-direction: column;
}
#login-container form input{
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: none;
}
#login-container form button{
    padding: 10px;
    background-color: skyblue;
    color: white;
    border-radius: 10px;
}
#login-container form button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}